.env
.gemini/
.ssh/
.bash_history
.zsh_history
.npm/
.cache/
.android/
.termux_authinfo
*.keystore
bot.db
users.db
__pycache__/
*.pyc
logs/
storage/
downloads/
.buildozer/
.bundle/
.cargo/
.config/
.cpan/
.gnupg/
.hermes/
.kivy/
.local/
.ngrok2/
.recovery_master/
.wifi_ctrl/
node_modules/
venv/
lib/
bin/
apk/
build/
*.idsig
